# Terraform
*.tfstate
*.tfstate.*
.terraform/
!terraform.tfstate.d/
crash.log
*.tfvars
!env/dev.tfvars
.terraform.lock.hcl
*.auto.tfvars
*.plan

# Local kubeconfig exports
kubeconfig-*.yaml

# git-crypt
.git-crypt/

# VSCode
.vscode/

# Logs
*.log

# Editor / IDE
.idea/

# Sistema
Thumbs.db
.DS_Store
node_modules/
